@import "react-datepicker/dist/react-datepicker.css";
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
ul {
  padding: 0 30;
  margin: 0;
}
.react-datepicker-wrapper {
  width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}
h3 {
  color: aquamarine;
}

/* card design */

.text-white {
  color: #ffffff !important;
}
/* card design */

.letter-spac {
  letter-spacing: 0.59em;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
/* forall */
.cursor-pointer {
  cursor: pointer;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.mb-0 {
  margin-bottom: 0;
}


.swiperAndroid  .swiper-wrapper  {
  display: flex !important;
  flex-direction: column !important;
  }

.letterspac {
  letter-spacing: 0.59em;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #fff;
  width: 10px !important;
}

*::-webkit-scrollbar-thumb {
  background-color: #7cc5e5;
  border-radius: 14px;
  border: 3px solid var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4562b2;
  width: 10px !important;
}

input {
  box-sizing: border-box;
  padding-left: 15px;
}

.ltr-shrt-spec {
  letter-spacing: 0.39em;
  font-size: 16px;
  line-height: 22px;
}

.form-check-input:checked + .form-check-label + .selectedItem {
  background-color: greenyellow;
}

.hr-19 {
  border: none;
  height: 10px;
  background: linear-gradient(-135deg, #fff 5px, transparent 0) 0 5px,
    linear-gradient(135deg, #fff 5px, #8c8c8c 0) 0 5px;
  background-color: #fff;
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 10px 10px;
}

.bg-gray1 {
  background-color: #d9d9d9;
}

.cgray{
  color: #767676 !important;
}

.w-80 {
  min-width: 80% !important;
}
.fw-700 {
  font-weight: 700;
}
.fw-600 {
  font-weight: 600 !important;
}

.fw-400 {
  font-weight: 400;
}
.white {
  color: #ffffff;
}

.d-flex {
  display: flex;
}
.w-30px {
  max-width: 30px;
  font-size: 23px;
}

.align-center {
  align-items: center;
}

.light-dark {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.4) 58.85%
  );
}

.m1 {
  margin-top: 5px;
}

.flex-column {
  flex-direction: column;
}

.custom-file-input {
  height: 250px;
  width: 100% !important;
  position: relative;
  background-image: url("../public/images/close.png");
  color: transparent;
  background-position: center;
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 17%;
  padding: 10px;
}
::-webkit-file-upload-button {
  display: none;
}
/* animation */
.animated {
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}
.animated:hover {
  transform: scale(1.2);
  color: red;
  animation: heartbeat 1.5s infinite;
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.7);
  }
  150% {
    transform: scale(1);
  }
}
.bold1:hover .heartbeat {
  color: red !important;
}
.bold1 {
  cursor: pointer;
}
.animated1:hover {
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.object-contain {
  object-fit: contain;
}
.object-cover {
  object-fit: cover;
}

/*  */
.f-16 {
  font-size: 16px !important;
}

.f-14 {
  font-size: 14px;
}

.flex-center {
  justify-content: center;
}
.savebtn {
  background-color: #7cc5e5;
  padding: 8px 45px;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  font-size: 20px;
}
.descriptorClicked {
  background-color: #7cc5e5 !important;
}
.savebtn:hover {
  background-color: #4562b2;
}
.descriptorClicked:hover {
  background-color: #4562b2;
}
.text-sky {
  color: #7ec4e6;
}

.amgray {
  color: #838383;
}

iframe {
  border-radius: 16px;
}

.text-center {
  text-align: center;
}

.thirty {
  width: 33% !important;
}

.parentcontainer input {
  width: 100% !important;
  height: 250px !important;
  cursor: pointer;
}
.parentcontainer {
  width: 100% !important;
  height: 250px !important;
  border-radius: 10px;
}

.savebtn1 {
  background-color: #4562b2 !important;
  padding: 8px 45px;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  font-size: 20px;
}
.savebtn1:hover {
  background-color: #0c37af;
}
.savebtn2 {
  background-color: #4562b2;
  padding: 8px 25px;
  font-weight: 600;
  border-radius: 7px;
  border: none;
}
.savebtn2:hover {
  background-color: #0c37af;
}
.react-calendar {
  width: 100% !important;
}
.react-calendar button {
  color: black;
}
.react-calendar__navigation button {
  color: black;
}
.signupheading1 {
  font-size: 30px;
  color: #ffffff;
  margin: 0;
  text-align: center;
}

/* for all end */

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.example-track-0 {
  border: 3px solid red !important;
  border-radius: 15px;
}
.example-track-1 {
  border: 3px solid #8194d3 !important;
  border-radius: 15px;
}
.example-track-2 {
  border: 3px solid greenyellow !important;
  border-radius: 15px;
}
.h-full {
  height: 100vh;
}
.w-100 {
  width: 100% !important;
}
.w-50 {
  width: 50%;
}

/* map */
.responsive-map {
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
  height: 80%;
  width: 100%;
}
.responsive-map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
@media only screen and (max-width: 1440px) {
  .savebtn1 {
    font-size: 18px;
  }
}
@media only screen and (max-width: 991px) {
  .experience-saves-header {
    font-size: 20px;
  }
}

@media only screen and (max-width: 550px) {
  .savebtn1 {
    padding: 8px 20px;
    font-size: 16px;
  }
}