.yoursave_central1 {
  background-color: #7cc5e5;
}
.savesbox {
  top: 15px;
}
.yoursave_button1 {
  padding: 10px;
}
.trillistpost {
  height: 200px;
  width: 100%;
  margin-top: 15px;
}
.yoursave_font {
  font-size: medium;
  font-weight: bolder;
}
.yoursave_font1 {
  font-size: medium;
}
.favorite {
  background-color: #1264fa !important;
}
@media (max-width: 321px) {
  .yoursave_button1 {
    width: 310px;
  }
}

.tripsherobox {
  padding: 40px 30px 60px 30px;
}
.yoursave_heading {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}
.yoursave_central {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.yoursave_text {
  padding: 130px 61px;
  text-align: center;
}
.yoursave_text_mid {
  padding: 0px;
  text-align: center;
}
.yoursave_text_final {
  padding: 80px;
  text-align: center;
}

.yoursave_image1 {
  border-radius: 20px;
  padding: 20px 20px;
  margin-top: 10px;
  height: 500px;
  background-image: url("../public/images/card-one.svg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  background-position: center;
  object-fit: cover;
  margin-bottom: 10px;
}
.yoursave_image2 {
  border-radius: 20px;
  background-image: url("../public/images/card-two.svg");
  background-size: cover;
  height: 180px;
  color: white;
}
.yoursave_image3 {
  border-radius: 20px;
  background-image: url("../public/images/card-three.svg");
  background-size: cover;
  height: 180px;
  color: white;
}
.yoursave_image4 {
  border-radius: 20px;
  background-image: url("../public/images/card-three.svg");
  background-size: cover;
  height: 180px;
  color: white;
}
.yoursave_image5 {
  border-radius: 20px;
  background-image: url("../public/images/card-fove.svg");
  background-size: cover;
  height: 180px;
  color: white;
}
.yoursave_image6 {
  border-radius: 20px;
  background-image: url("../public/images/card-four.svg");
  background-size: cover;
  height: 390px;
  color: white;
}
.plusicon {
  width: 25px;
  height: 25px;
  color: black;
  font-weight: 600;
  background-color: #fff;
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
  position: absolute;
  font-weight: 700px;
  right: 27px;
  top: 15px;
}

.placeImgWrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 15px;
}

.placeImg {
  width: 100%;
  border-radius: 15px;
  opacity: 0.9999;
  transition: transform 0.3s;
}

.placeImgWrapper:hover .placeImg {
  transform: scale(1.1);
}

.crosicon {
  right: 13px;
  top: 15px;
  font-weight: 700px;
  padding: 5px;
  width: 20px;
  height: 20px;
}
.tripbox {
  overflow-y: scroll;
}
.edittrips {
  padding: 20px 40px 30px 40px !important;
}

.crossed {
  width: 20px;
  height: 20px;
  top: 12px;
  right: 12px;
}
.plusicon2 {
  width: 25px;
  height: 25px;
  color: black;
  font-weight: 600;
  background-color: #fff;
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
  position: absolute;
  right: -4px;
  top: 0px;
}
.plusicon3 {
  width: 40px;
  height: 40px;
  color: black;
  font-weight: 600;
  background-color: #fff;
  padding: 5px;
  border-radius: 50px;
  cursor: pointer;
  position: absolute;
  object-fit: cover;
  right: -7px;
  top: -5px;
}

.plusicon4 {
  width: 40px;
  height: 40px;
  color: black;
  font-weight: 600;
  background-color: #fff;
  padding: 5px;
  border-radius: 50px;
  cursor: pointer;
  position: absolute;
  object-fit: cover;
  right: 23px;
  top: 23px;
}
.yoursave_plusii {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
.yoursave_newsletter_image {
  height: 275px;
  width: 100%;
}
.yoursave_section2_right_container {
  padding: 49px 78px;
  text-align: center;
}
.yoursave_container2 {
  display: flex;
  flex-direction: row;
}
.yoursave_section3_font {
  text-align: center;
}
.mainform {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border: 1px solid grey;
  width: 100%;
  padding: 1px;
  border-radius: 20px;
}

.yoursave_input1 {
  border: none;
}
.yoursave_input1:focus {
  outline: none;
}
.mainform:focus-within {
  outline: 1px solid blue;
}
.yoursave_input_field {
  display: flex;
  justify-content: center;
}
.yoursave_input1 {
  border-radius: 20px;
}

.yoursave_btn1 {
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
  text-transform: capitalize;
  border-radius: 10rem;
  background-color: #1264fa;
  color: white;
  transition: all 0.3s linear;
}
.btn:hover,
.btn:active {
  transform: scale(1.05);
}
.savelink {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition: transform 0.3s ease-in-out;
  overflow: hidden; */
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}
.smallimg1 {
  width: 90px;
  height: 90px;
  margin-bottom: 10px;
  border-radius: 8px;
  object-fit: cover;
}
/* animation */
.uploadimg {
  background-size: 100% 100%;
  width: 100%;
  height: -webkit-fill-available;
  border-radius: 7px;
  object-fit: cover;
  text-align: center;
  transition: transform 0.3s ease;
}
.uploadimg:hover {
  transform: scale(1.2);
}

.thumbnail {
  color: #767676;
}
.datepicke_wrapper {
  width: 100% !important;
}
.titleheader {
  font-size: 14px;
}
.herosaves {
  border: none;
  border-radius: 6px;
  margin-top: 10px;
  position: relative;
  background: #f9f9f9;
  border-radius: 30px;
  padding: 10px 40px;
}
.tripsscrolled {
  
  overflow-y: scroll;
  margin-top: 20px;
}
.tripsscrolled::-webkit-scrollbar {
  width: 12px;
}

.tripsscrolled::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.herosaves1 {
  background-color: #d9d9d9;
  border: none;
  border-radius: 6px;
  margin-top: 10px;
  position: relative;
  border-radius: 15px;
  padding: 0px 20px;
}
.radiobtn:checked {
  color: black;
  background-color: black;
  border-color: black;
}

.herobtn {
  border-radius: 7px;
  padding: 10px 20px;
  background-color: #4562b2;
  font-size: 22px;
  color: #fff;
  border: none;
  width: 100%;
  text-align: left;
  margin-top: 20px;
}
.herobtn1 {
  border-radius: 7px;
  padding: 10px 20px;
  background-color: #f9f9f9;
  font-size: 22px;
  color: #818a91;
  border: none;
  width: 100%;
  text-align: left;
  margin-top: 20px;
}
.herobtn1:hover {
  background-color: #4562b2;
  color: #fff;
}
.modal-content {
  padding: 30px !important;
}

.modal.show .modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 300px) {
  .yoursave_section2_right_container {
    padding: 0px 10px;
  }
}

@media only screen and (min-width: 1440px) {
  .yoursave_image1 {
    height: 650px;
  }
  .plusicon {
    width: 25px;
    height: 25px;
  }
}
@media only screen and (max-width: 1440px) {
  .plusicon,
  .plusicon2 {
    width: 20px;
    height: 20px;
  }
}

@media only screen and (max-width: 991px) {
  .savesheader {
    font-size: 25px;
  }
  .savebox1 {
    text-align: left;
    justify-content: flex-start !important;
    margin-top: 20px;
  }
  .savesbox {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .savesbox {
    top: 0px;
  }
}
@media only screen and (max-width: 768px) {
  .herosaves {
    flex-wrap: wrap;
    padding: 20px;
  }
  .datedatabox{
    font-size: 12px;
  }
  .tripbox{
    margin-top: 40px;
  }
  .tripsherobox{
    padding: 30px 20px 30px 20px;
  }
}

/* autocomplete places */
.autocomplete-dropdown-container {
  position: absolute;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1000;
}
.suggestion-item {
  padding: 10px;
  cursor: pointer;
}
.suggestion-item:hover {
  background-color: #41b6e6;
  color: white;
}