.profilecontainer {
  height: 500px;
}
.profileglobe3d {
  width: 500px;
  height: inherit;
  object-fit: cover;
}
.profile_globe3d {
  width: 100%;
  max-width: 900px;
}
.fellpara {
  color: #767676;
  border: 1px solid #f9f9f9;
  border-radius: 20px;
  padding: 10px 10px 40px 10px;
  font-size: 15px;
  width: 40%;
}
.aboutheader {
  color: #767676;
}
.lablenames {
  color: #d9d9d9;
  font-size: 14px;
}
.editbtn {
  background-color: #c4c1c1;
  border-radius: 20px;
  border: none;
  color: black;
  padding: 7px 20px;
}
.editbtn:hover {
  background-color: #f9f9f9;
  border: 1px solid #c4c1c1;
}
.profilebutton {
  height: 50px;
  width: 220px;
  background-color: #4562b2;
  color: white;
  border-radius: 10px;
  border: none;
}
.profileplus {
  height: 15px;
  width: 15px;
  font-size: 20px;
  padding: 5px;
  border-radius: 50px;
  object-fit: cover;
  margin-left: 10px;
  background-color: #fff;
  color: black;
}
.heartbtn {
  background-color: #4562b2;
}
.reccommendbtn {
  background-color: #4562b2;
}
.profileheart {
  color: #fff;
  font-size: 23px;
}
.profilefitimage {
  height: 450px;
  width: 100%;
  margin-top: 50px;
}
.profilesection2image {
  height: inherit;
  background-image: url("../public/images/profilesection.svg");
  background-size: cover;
  width: 100%;
}
.profileimagetitle {
  padding: 50px 40px;
}
.profilesubheading {
  font-size: 30px;
}
.fvbtnhero {
  background-color: #fff;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 30px;
  right: 30px;
  border-radius: 50px;
}
.fvbtn {
  font-size: 20px;
}
.profilecentral {
  display: flex;
  justify-content: center;
}
.profilecitycard1 {
  background-image: url("../public/images/city1.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 30px;
  border-radius: 20px;
  text-align: center;
  margin: 10px 0px;
}
.placeImg {
  border-radius: 20px;
  max-width: 600px;
  width: 100%;
  height: 300px;
  object-fit: inherit;
}
.landingeventheading {
  font-size: 40px;
  height: 80px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.landingendcard1 {
  padding: 2.5rem;
  flex-wrap: wrap;
  position: relative;
}
@media only screen and (max-width: 1440px) {
  .profile_globe3d {
    width: 100%;
    max-width: 440px;
    height: 400px;
  }
  .placeImg {
    height: 280px;
  }
  .landingeventheading {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .profilecitycard1,
  .profilecitycard2,
  .profilecitycard3 {
    height: 180px;
    padding: 150px 30px;
  }
}
.profilecitycard2 {
  background-image: url("../public/images/city2.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 30px;
  border-radius: 20px;
  text-align: center;
  margin: 10px 0px;
}
.profilecitycard3 {
  background-image: url("../public/images/city3.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 30px;
  border-radius: 20px;
  text-align: center;
  margin: 10px 0px;
}
.profilecardwrapper {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.cyclehero {
  background-color: #cde9f5;
  border-radius: 30px;
  width: 42%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 50px;
}
.cyclebg {
  background-image: url(../public/images/cycle.png);
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}
.signupbtns {
  background-color: #4562b2;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  width: 220px;
  padding: 4px 20px;
  height: max-content;
}
.sryheader {
  color: #03104c;
  font-size: 40px;
  font-weight: 700;
}
@media only screen and (max-width: 1440px) {
  .sryheader {
    font-size: 30px;
  }
}
